<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class= "alert alert-success col-lg-offset-4 col-lg-4 centralize text-center">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li id="notice"><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
        <%= f.text_field :name, :id => "name-user", :placeholder => "Nome", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
        <%= f.text_field :username, :id => "username-user", :placeholder => "Nome de Usuário", :class => 
        "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
        <%= f.text_field :matricula, :id => "matricula-user", :placeholder => "Matrícula", :class => 
        "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
        <%= f.text_field :email, :id => "email-user", :placeholder => "E-mail", :class => 
        "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-4">
        <%= f.password_field :password_digest, :id => "password-user", :placeholder => "Senha", :class => 
        "form-control" %>
    </div>
  </div>
  <div class="form-group">
        <div class="col-lg-offset-4 col-lg-4">
            <%= f.submit "Salvar", :class => "btn btn-default btn-lg btn-block btn-primary" %>
        </div>
    </div>
<% end %>
