<% if notice != nil %>
  <div class= "alert alert-info alert-dismissible col-lg-offset-4 col-lg-4 centralize text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p id="notice"><%= notice %></p>
  </div>
<%end%>

<!-- Page Content -->
<div class="form-horizontal min-margin-top">

    <div class="row">
        <div class="col-lg-offset-1 col-lg-12 profile-background">
            <div class="row">
                <div class="col-lg-2 col-xs-4">
                    <%= image_tag ("user-pic.jpg"), size: "100x100", :class => "profile-image" %>
                </div>
                <div class="col-lg-10 col-xs-8">
                    <div class="row margin-profile">
                        <div class="col-lg-2 col-xs-8">
                            <h3><%= @user.name %></h3>
                        </div>
                    </div>
                    <div class="row margin-profile">
                        <div class="col-lg-2 col-xs-8">
                            <%= @user.matricula %>
                        </div>
                        <div class="col-lg-2 col-xs-8">
                            <%= @user.email %>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

    <!--</div>-->
    <!--<div class="row">-->
        <div class="col-lg-offset-1 col-lg-5">
            <div class="row margin-profile">
                <h3> Postagens </h3> 
               
            </div>
             <hr>
            <div class="row margin-profile">
                <% @user.posts.each do |post| %>
                    <div class="row post-list-sm">
                        <div class="col-lg-2 col-xs-4 text-center">
                            <%= image_tag "shareif-logo1.png", size: "70x70", :class => "text-left" %>
                        </div>
                        <div class="col-lg-5 col-xs-4">
                            <div class="row">
                                <%= link_to post.title, post %>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                Por <%= link_to post.user.name, post.user %>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xs-4 text-right">
                            <div class="row">
                                <%= post.subject.name %>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <%= post.created_at.strftime('%Y-%m-%d %I:%M:%S') %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <br>
            <br>
        </div>
            <div class="row">
        <div class="col-lg-5">
            <div class="row margin-profile">
                <h3> Prêmios </h3>
            </div>
            <hr>
            <div class="row margin-profile">
                <% if @user.badges != nil %>
                    
                        <% @user.badges.each do |badge| %>
                            <div class="col-lg-2 col-xs-3 text-center">
                                <div class="row">
                                    <%= image_tag badge.custom_fields[:img_url], size: "70x70", :class => "text-left" %>
                                </div>
                                <div class="row">
                                    <%= badge.name %>
                                </div>
                            </div>
                           
                        <% end %>
                    
                <% else %>
                    
                <% end %>
            </div>
        </div>
    </div>
        
    <!--</div>-->
</div>
