<% if notice != nil %>
  <div class= "alert alert-success alert-dismissible col-lg-offset-4 col-lg-4 centralize text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p id="notice"><%= notice %></p>
  </div>
<%end%>

<!-- Page Content -->
<div class="container min-margin-top">

    <div class="row">

        <div class="col-lg-offset-1 col-lg-2 profile-background">
            <div class="row text-center">
                <%= image_tag ("user-pic.jpg"), size: "80x80", :class => "profile-image" %>
            </div>
            <div class="row text-center">
                <h3><%= @user.name %></h3>
            </div>
            <!-- <div class="row text-center">
                <%= @user.username %>
            </div> -->
            <div class="row text-center">
                <%= @user.matricula %>
            </div>
            <div class="row text-center">
                <%= @user.email %>
            </div>
            <br>
            <br>
        </div>

        <div class="col-lg-8 profile-background space-between">
            <div class="row">
                <h3> Prêmios </h3>
            </div>
            <hr>
            <div class="row">
                <% if current_user.badges != nil %>
                    
                        <% current_user.badges.each do |badge| %>
                            <div class="col-lg-2 badge-custom text-center">
                                <div class="row">
                                    <%= image_tag badge.custom_fields[:img_url], size: "70x70", :class => "text-left" %>
                                </div>
                                <div class="row">
                                    <%= badge.name %>
                                </div>
                            </div>
                           
                        <% end %>
                    
                <% else %>
                    
                <% end %>
            </div>
            <hr>
            <div class="row ">
                <h3> Postagens </h3> 
                <% @user.posts.each do |post| %>
                    <div class="row post-list-sm">
                        <div class="col-lg-2">
                            <%= image_tag "shareif.jpeg", size: "70x70", :class => "text-left" %>
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <%= link_to post.title, post %>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                Por <%= post.user.name %>
                            </div>
                        </div>
                        <div class="col-lg-3 text-right">
                            <div class="row">
                                <%= post.subject.name %>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <%= post.created_at %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <br>
            <br>
        </div>

        
    </div>
</div>
