<% if notice != nil %>
  <div class= "alert alert-info alert-dismissible col-lg-offset-4 col-lg-4 centralize text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<%end%>


<section id="section-posts">
    <div class="form-horizontal min-margin-top">
        <div class="col-lg-offset-2 col-lg-6 col-xs-4 login-title">
            <h1>Postagens</h1>
            </br>
            <h4></h4>
            
        </div>
        <div class="col-lg-1 col-xs-6 post-button">
            <% if current_user %>
                <%= link_to 'Nova Postagem', new_post_path, :class=>"btn btn-default" %>
            <% end %>
        </div>
        <div class="col-lg-3 col-xs-3">
        </div>

        <div class="col-lg-offset-2 col-lg-8 col-xs-12">
            <% @posts.each do |post| %>
                <div class="row post-list">
                    <div class="col-lg-2 col-xs-4">
                        <%= image_tag "shareif-logo1.png", size: "70x70", :class => "text-left" %>
                    </div>
                    <div class="col-lg-7 col-xs-5">
                        <div class="row">
                            <%= link_to post.title, post %>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <% if post.user != nil %>
                                Por <%= link_to post.user.name, post.user %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-3 text-right">
                        <div class="row">
                            <%= post.subject.name %>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <%= post.created_at.strftime('%Y-%m-%d %I:%M:%S') %>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
        <!-- <div class="col-lg-offset-2 col-lg-8">
            
            <p>bla</p>
            <div id="demo" style="width: 550px; height: 350px;">

            </div>
        </div>
        <div class="col-lg-offset-2 col-lg-8">
            <table id="table-teste" class="display">
                <thead>
                    <tr>
                        <th> teste1 </th>
                        <th> teste2 </th>
                        <th> teste3 </th>
                        <th> teste4 </th>
                        <th> teste5 </th>
                        <th> teste6 </th>
                    </tr>
                </thead>

            </table>
        </div> -->

    </div>

</section>