<% if notice != nil %>
  <div class= "alert alert-success col-lg-offset-4 col-lg-4 centralize text-center">
    <p id="notice"><%= notice %></p>
  </div>
<%end%>

<section id="section-posts">
    <div class="form-horizontal">
        <div class="col-lg-12 text-center login-title">
            <h1>Postagens</h1>
            </br>
            <h4></h4>
        </div>

        <div class="col-lg-offset-2 col-lg-8">
            <% @posts.each do |post| %>
                <div class="row well">

                    <div class="col-lg-9">
                        <div class="row">
                            <%= link_to post.title, post %>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <% if post.user != nil %>
                                Por <%= post.user.name %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right">
                        <div class="row">
                            <%= post.subject.name %>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <%= post.created_at %>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>

    </div>

</section>