<% if notice != nil %>
	<div class= "alert alert-success col-lg-offset-4 col-lg-4 centralize text-center">
		<p id="notice"><%= notice %></p>
	</div>
<%end%>

<!-- Page Content -->
    <div class="container min-margin-top">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-offset-2 col-lg-8">

                <!-- Blog Post -->
                <div class="row">
                    <div class="col-lg-11">
                        <!-- Title -->
                        <h1><%= @post.title %></h1>
                    </div>
                    <div class="col-lg-1">
                        <% if @post.user == current_user %>
                            <a href= "/posts/<%=@post.id%>/edit" class="btn btn-default btn-sm" title="Editar Postagem">
                            <span class="glyphicon glyphicon-edit icon-edit" aria-hidden="true">
                            </a>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <% if @post.user != nil %>
                            <!-- Author -->
                            <p class="lead">
                                Por <%= link_to @post.user.name, @post.user %>
                                <!-- por <a href="#"><%= @post.user.name %></a> -->
                            </p>
                        <% end %>
                    </div>
                </div>  
                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time " aria-hidden="true"></span> Postado em <%= @post.created_at %></p>

                <!-- Preview Image -->
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->

                <hr>

                <!-- Post Content -->
                <p class="lead"><%= @post.text.html_safe %></p>

                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <% if @post.attachment_file_name != nil %>
    	                   Anexo: <%= link_to @post.attachment_file_name, @post.attachment.url(:original, false) %>
                        <% end %>
    	            </div>
                    <div class="cl-lg-2 text-right">
                        <% if @post.user != current_user %>
                        	<%= button_to like_post_path(@post), class: "btn btn-default" , method: :put do %>
                        		Aprovado!
        					  	<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 
        					  	<%= @post.get_upvotes.size %>
        					<% end %>
                        <% end %>
    				</div>
                    
                    
                </div>

                <hr>


                <div class="row">
                    <div class="col-lg-6">
                        <!-- Date/Time -->
                        <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Última alteração em <%= @post.updated_at %></p>
                    </div>
                    <div class="cl-lg-2 text-right">
                    </div>
                </div>
                
                <hr>
                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Deixe um comentário:</h4>
                    <form role="form">
                        <div class="form-group">
                            <%= form_tag create_comment_path, method: "post" do %>
                            <%= hidden_field_tag "id", @post.id %>
                              <%= text_area_tag :comment, nil, :class => "form-control", :rows => "3" %>
                              <%= submit_tag "Enviar", :class =>"btn btn-default" %>
                            <% end %>
                        </div>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->
                 <% @comments.each do |comment| %>
    
                    <!-- Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><%= comment.user.name %>
                                <small><%= comment.created_at %></small>
                            </h4>
                            <%= comment.comment %>
                        </div>
                    </div>
                <% end %>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
 	<!-- </div> -->
<!-- </section> -->